wheel
cython
celery
cvzone
Flask
numpy
opencv-python
pandas
requests
schedule
scipy
SQLAlchemy
supervision
torch
torchvision
ultralytics
gunicorn

#lap #manual install lap ( clone git + python setup.py install)