[Unit]
Description=Gunicorn instance to serve MLAPI
After=network.target

[Service]
User=m284dsx1749
Group=m284dsx1749
WorkingDirectory=/home/m284dsx1749/Machine-Learning
Environment="$PATH:/home/m284dsx1749/Machine-Learning/env/bin"
ExecStart=/home/m284dsx1749/Machine-Learning/env/bin/gunicorn --workers 1 --bind unix:wsgi.sock wsgi:app

[Install]
WantedBy=multi-user.target
